.header{
  width: 100%;
  background: #DFDFDF;
  .headerContainer{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoContainer{
      a{
        color: black;
        font-weight: 400;
        font-size: 1em;
      }
    }
    .menuContainer{
      ul {
        * + * {
          margin-left: 1.250em;
        }
        display: flex;
        li{
          a{
            font-size: 0.830em;
            color: #6A6868;
          }
        }
        .langContainer{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.830em;
          color: #6A6868;
          cursor: pointer;
          svg{
            transition: 0.3s;
            margin-left: 0;
          }
        }
      }
    }
    .burgerBtn {
      width: 22px;
      height: 15px;
      position: relative;
      cursor: pointer;
      transition: 0.3s;
      span{
        content: '';
        position: absolute;
        top: 8px;
        width: 22px;
        background-color: #003B49;
        height: 3px;
        transition: 0.3s;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 22px;
        background-color: #003B49;
        height: 3px;
        transition: 0.3s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 16px;
        width: 22px;
        background-color: #003B49;
        height: 3px;
        transition: 0.3s;
      }
    }
    .burgerBtnActive{
      width: 22px;
      height: 15px;
      position: relative;
      cursor: pointer;
      transform: rotate(360deg);
      transform-origin: center;
      span{
        content: '';
        position: absolute;
        top: 8px;
        width: 0;
        height: 0;
        opacity: 0;
      }
      &:before {
        transition: 0.3s;
        content: '';
        position: absolute;
        transform: rotate(45deg) translate(5px, 5px);
        transition-delay: 0.2s;
        top: 0;
        width: 22px;
        background-color: #003B49;
        height: 3px;
      }

      &:after {
        transition: 0.3s;
        content: '';
        transform: rotate(-45deg) translate(7px, -6px);
        transition-delay: 0.3s;
        position: absolute;
        top: 16px;
        width: 22px;
        background-color: #003B49;
        height: 3px;
      }
    }
    .menuBurger{
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      width: 50%;
      transform: translate(100%);
    }
    .menuBurgerActive{
      transition: 0.3s;
      overflow: hidden;
      position: fixed;
      z-index: 99;
      right: 0;
      top: 0;
      width: 50%;
      transform: translate(0);
    }
    .layout{
      pointer-events: none;
      opacity: 0;
      position: fixed;
    }
    .layoutActive{
      transition: 0.3s;
      transform: translate(0);
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.46);
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
    }
  }
}
.headerLanguages{
  transform-origin: top;
  position: absolute;
  left: 0;
  top: 25px;
  background-color: white;
  width: 100%;
  border: 1px solid #6D6D6D;
  border-radius: 4px;
  p{
    //margin-top: 5px;
    margin-left: 0!important;
    padding: 5px 2px;
    &:first-child{
      border-bottom: 1px solid #6D6D6D;
    }
    &:hover{
      background-color: rgba(109, 109, 109, 0.2);
    }
  }
}

