.requestContainer{
  background: #F5F5F5;
  padding: 0 10px 0 10px;

  .requestBody{
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 3em;
    .requestContent{
      h1{
        text-align: center;
        font-size: 2.500em;
      }
      p{
        width: 100%;
        max-width: 687px;
        font-weight: 300;
        text-align: center;
        margin-top: 0.585em;
      }
      .searchElement{
        margin-top: 1.46em;
        position: relative;
        input{
          background: rgba(187, 180, 180, 0.21);
          border-radius: 11px;
          width: 100%;
          padding: 16px 46px 16px 36px;
          font-size: 1em;
        }
        label{
          position: absolute;
          right: 12px;
          top: 12px;
          max-width: 30px;
          max-height: 30px;
          svg{
            width: 100%;
          }
        }
      }
      .buttonContainer{
        margin-top: 3.35em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 0.83em;
        button{
          width: 100%;
          border-radius: 11px;
          padding: 10px;
          font-size: 1em;
          &:first-child{
            background: #6A6868;
            color: white;
          }
          &:last-child{
            border: 1px solid #6A6868;
            color: black;
          }
        }
        @media screen and (max-width: 425px) {
          flex-direction: column;
          row-gap: 0.83em;
        }
      }
    }
  }
}
